.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.counters {
  display: flex;
  justify-content: space-around;
}

.counters > div {
  padding: 10px;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.buttons > div {
  padding: 10px;
}

.typing-space {
  display: flex;
  justify-content: space-around;
}

.typing-space > div {
  padding: 10px;
}