.App {
  text-align: center;
}

.App__body {
  background-color: #5b4d90;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Counters__container {
  display: flex;
  justify-content: space-around;
}

.Counters__container > div {
  padding: 10px;
}

.Buttons__container {
  display: flex;
  justify-content: space-around;
}

.Buttons__container > div {
  padding: 10px;
}

.Buttons__button {
  font-size: 1em;
  padding: 0.3em;
}

.TypingSpace__container {
  display: flex;
  justify-content: space-around;
}

.TypingSpace__container > div {
  padding: 30px;
}

.TypingSpace__text {
  font-size: 1em;
}

.TypingSpace__textarea {
  font-size: 1em;
  font-family: sans-serif;
  resize: none;
}